/* css styles */


.navbar {
    background-color: rgb(112, 68, 18); 
  }

.navbar a:hover {
    text-decoration: underline;
    color: tan;
  }
a {
    color: rgb(112, 68, 18);
    font-family: 'Times New Roman', Times, serif;
  }
  a:hover {
    text-decoration: underline;
    font-size: 150%;
  }
  

.sidebar a:hover {
    text-decoration: underline;
    color: tan;
  }

.sidebar a{
    color: rgb(112, 68, 18)
}

body {
    background-color: tan;
    color: rgb(112, 68, 18);
    font-family: 'Times New Roman', Times, serif;
  }
